var-book-background-color = $list-header-background-color
.book-bar
	background-color: var-book-background-color
	height 2rem
	color black
	font-family TitilliumWeb-Regular
	.navigation-bar__left
		height 2rem
		font-size 1rem
		margin-left 15px
	.navigation-bar--android__right
		height 2rem
	.navigation-bar__line-height
		  line-height inherit
	.toolbar-button--quiet
		color #9b6700
		font-size: 1.5rem


.dialog
	min-width 200px
	min-height 120px
	.navigation-bar
		background-color #FEC62E
		color black
ons-carousel
	//top 2rem!important
