h3
	font-size 20px
	margin 9px 12px
	font-family 'TitilliumWeb-Regular'
	color #04BFA9
	border-bottom 1px solid
	width 70%
	padding-bottom 6px
	.ons-icon--ion
		line-height: 11px;
		

.bookmark-header
	margin: 5px 8px
	.notification
		float right
		background-color #04bfa9
		color black
		top 3px
		margin-right 5px
.card-bookmark
	font-family 'TitilliumWeb-Regular'
	padding 9px
	.smallfont
		font-size 0.8rem
		line-height 2rem
		height 2rem
		min-height 0
	p 
		line-height 1.3rem
		margin 11px
		text-align justify
.trash
	float right
	top 8px
	position relative