var-book-background-color = $list-header-background-color
// .book-bar
// 	background-color: var-book-background-color
// 	height 2rem
// 	color black
// 	font-family TitilliumWeb-Regular
// 	.navigation-bar__left
// 		height 2rem
// 		font-size 1rem
// 		margin-left 15px
// 		width 20%!important
// 		max-width 20%!important
// 	.navigation-bar--android__right
// 		height 2rem
// 		width 20%
// 	.navigation-bar__line-height
// 		  line-height inherit
// 	.toolbar-button--quiet
// 		color #9b6700
// 		font-size: 1.5rem
.epub-bar
	.navigation-bar__left
		width 10%!important
		max-width 10%!important
	.navigation-bar__center		
		max-width 80%!important
		width 80%!important
	.navigation-bar__right
		max-width 10%!important
		width 10%!important
	.navigation-bar__center
		color black
		overflow hidden
		max-width 70%
		width 70%
		text-overflow ellipsis
		font-size 0.9rem
		height 100%
	.ons-icon--ion
		line-height 44px
		margin 0 10px
		color black

.dialog
	min-width 200px
	min-height 120px
	.navigation-bar
		background-color #FEC62E
		color black
.ion-android-more-vertical
	color black
.yellow_background
	background-color #ffe04a!important
.lilla_background
	background-color #ff7bec!important
.green_background
	background-color #b0ef43!important
