var-button-bar-margin = 2rem
.card_image
	width 100%
.list__header
	padding 2px 0 4px 13px
height-bar-share
.bar_share
	position relative
	top -(var-button-bar-margin)
	margin-bottom -(var-button-bar-margin)
	line-height	var-button-bar-margin
	height var-button-bar-margin
	color #04bfa9
	background-color: rgba(13,22,36,0.75);
	z-index 1
	
	.button_share
		padding 0
		line-height 20px
		vertical-align middle
		width 20px
		margin-bottom -(var-button-bar-margin)
		background-color transparent
		border 0
		margin 0
		margin-left 10px
		img
			width inherit
	.text_bar_share
		float right
		margin-right  1rem
		margin-bottom -(var-button-bar-margin)
		font-family 'TitilliumWeb-Light'
		
.descripcion
	padding 0rem
	text-align justify
	transition height 0.3s
	height 0rem
	overflow auto
	font-family 'TitilliumWeb-Light'
	line-height 1.3rem
	
.change
	height 16 rem
	padding 1rem
	// background-color white
		
.more
	border-top 1px solid #d6d6d6
	// line-height 2rem
	text-align center
	padding 4px
	padding-buttom 9
	img
		height 1rem
	.rotate
		transform rotate(180deg)
		font-family 'TitilliumWeb-Regular'		
.button-bar__button
	  border-left-width 1px
	  font-size 1rem
	  padding 1px
	  height 2.2rem
.list 
	position relative
