.card_image
	width 100%
.list__header
	padding 2px 0 4px 13px
.bar_share
	position relative
	top -2.5rem
	margin-bottom -2.5rem
	line-height	2.5rem
	height 2.5rem
	color #04bfa9
	background-color: rgba(13,22,36,0.75);
	
	button
		line-height 2rem
		float left
		height 2rem
		width 2rem
		margin-bottom -2.5rem
	.text_bar_share
		float right
		margin-right 0.3rem
		margin-bottom -2.5rem
.descripcion
	padding 0rem
	text-align justify
	transition height 0.3s
	height 0rem
	
	overflow auto
	
.change
	height 16 rem
	padding 1rem
	// background-color white
		
.more
	border-top 1px solid #d6d6d6
	line-height 2rem
	text-align center
.button-bar__button
	  border-left-width 1px
