@font-face
   font-family TitilliumWeb-SemiBold
   font-style normal
   src url(../lib/onsen/css/memoria/fonts/TitilliumWeb-SemiBold.ttf)
@font-face
   font-family TitilliumWeb-SemiBold
   font-style normal
   src url(../lib/onsen/css/memoria/fonts/TitilliumWeb-SemiBold.ttf)
@font-face
   font-family TitilliumWeb-Black
   font-style normal
   src url(../lib/onsen/css/memoria/fonts/TitilliumWeb-Black.ttf)
@font-face
   font-family TitilliumWeb-Bold
   font-style normal
   src url(../lib/onsen/css/memoria/fonts/TitilliumWeb-Bold.ttf)
@font-face
   font-family TitilliumWeb-BoldItalic
   font-style normal
   src url(../lib/onsen/css/memoria/fonts/TitilliumWeb-BoldItalic.ttf)
@font-face
   font-family TitilliumWeb-ExtraLight
   font-style normal
   src url(../lib/onsen/css/memoria/fonts/TitilliumWeb-ExtraLight.ttf)
@font-face
   font-family TitilliumWeb-ExtraLightItalic
   font-style normal
   src url(../lib/onsen/css/memoria/fonts/TitilliumWeb-ExtraLightItalic.ttf)
@font-face
   font-family TitilliumWeb-Italic
   font-style normal
   src url(../lib/onsen/css/memoria/fonts/TitilliumWeb-Italic.ttf)
@font-face
   font-family TitilliumWeb-Light
   font-style normal
   src url(../lib/onsen/css/memoria/fonts/TitilliumWeb-Light.ttf)
@font-face
   font-family TitilliumWeb-LightItalic
   font-style normal
   src url(../lib/onsen/css/memoria/fonts/TitilliumWeb-LightItalic.ttf)
@font-face
   font-family TitilliumWeb-Regular
   font-style normal
   src url(../lib/onsen/css/memoria/fonts/TitilliumWeb-Regular.ttf)
@font-face
   font-family TitilliumWeb-SemiBoldItalic
   font-style normal
   src url(../lib/onsen/css/memoria/fonts/TitilliumWeb-SemiBoldItalic.ttf)

placeholder()
    &::-webkit-input-placeholder
        {block}
    &:-moz-placeholder
        {block}
    &::-moz-placeholder
        {block}
    &:-ms-input-placeholder
        {block}


.page
	font-family 'TitilliumWeb-SemiBold'
