var-input-placeholder-color =$toolbar-text-color


.toolbar-button
	font-family 'TitilliumWeb-SemiBold'
.navigation-bar__left
	transition all 0.4s
.navigation-bar__left

.titulo_memoria
	
	opacity 1
	transition all 0.4s
.titulo_memoria.hide
	opacity 0
	width 0
	display inline-block
	
.logo
	height 28px
	vertical-align middle
	margin 0 3px
	line-height 44px
.text-input--underbar
	width 0
	padding 0
	transition width 0.4s
.open
	width 70%
.center
	transition width 0.05s
.center.hide
	width 0%
.left
	max-width 30%
.right.large
	width (26+47)%
	max-width 50%
.text-input--underbar::-webkit-input-placeholder
	color var-input-placeholder-color

	
	
