<ons-page >
  
  <ons-toolbar>
    <div class="left">
      
      <ons-toolbar-button ng-click="menu.toggle()">
        <ons-icon icon="ion-navicon-round" size="28px" fixed-width="false"></ons-icon>
        <img src="lib/onsen/css/memoria/imgs/logo.png"  class="logo"></img>
        
        <span ng-class="titulomemoria" class="titulo_memoria">
          MEMORIAPP
        </span>
        
      </ons-toolbar-button>
      
      
    </div>
    <div ng-class="center_toolbar" class="center"></div>
    <div class="right" var="right" ng-class="right_toolbar"  >
      <ons-toolbar-button ng-click="showinputsearch()" var="right">
        
        <ons-icon icon="ion-ios-search" size="28px" fixed-width="false"></ons-icon>
        <input ng-class="inputcontrol" type="text" class="text-input--underbar" placeholder="Buscar" value=""></input>
        
      </ons-toolbar-button>
    </div>
         
  </ons-toolbar>
  <div style="padding:10px">
    <h3>Acerca de </h3>

    
<ons-list style="margin:10px;padding:10px;text-align:center">
      <img style="margin:0 auto;" src="img/logosMINTIC/logocentro.jpg"  ></img>

 </ons-list> 
 <div style="font-size:17px;line-height: 1.3rem;text-align:justify;margin:12px">
   <p>Esta biblioteca contiene las investigaciones y publicaciones del Centro Nacional de Memoria Histórica (CNMH); una entidad nacional que trabaja por el reconocimiento de los derechos de las víctimas del conflicto armado y que rescata sus voces y memorias plurales. 
    </p>
  
     <p>
      Para conocer más información acerca del trabajo del CNMH por favor visite: <a href="www.centrodememoriahistorica.gov.co">www.centrodememoriahistorica.gov.co</a>  y síganos en nuestras redes sociales.</p>
  <p>Facebook: <a href="https://www.facebook.com/memoriahistorica">memoriahistorica</a></p>
  <p>Twitter: <a href="https://twitter.com/centromemoriah">@CentroMemoriaH</a></p>
  <p>Youtube: <a href="https://www.youtube.com/user/CentroMemoriaH">/CentroMemoriaH</a>  </p>
  <p>Instagram:<a href="https://instagram.com/CentroMemoriaH">@CentroMemoriaH</a> </p> 
 <p>Google +: <a href="https://plus.google.com/+CentroMemoriaH">+CentroMemoriaH</a> </p>





</p>
    <div style="text-align:center">
     
    <img src="img/logosMINTIC/logoTodos.png" style="margin:12px" ></img>
    <img src="img/logosMINTIC/logoMINTIC.png" style="margin:12px" ></img>
    
    <img src="img/logosMINTIC/logoVIVEDIGITAL.png" style="margin:12px" ></img>
   
    </div>
    <p style="text-aling:center; background-color: #F5E47E; padding: 5px;">
    Tenga en cuenta que esta aplicación requiere acceso a Internet y puede consumir recursos de su plan de datos.
  </p>
 <h4>Desarrolladores</h4>
   <p>
    Andrés Fabian Corredor @afcorredor
   </p>
   <p>
    Rafael Eduardo Camargo Cely
   </p>

 </div>

    




  <p>
  </p>

  <p>© Derechos reservados</p>
  </div>
  

</ons-page>
