<ons-page id="bookmark_page">
	<ons-toolbar>
		<div class="left">
			
			<ons-toolbar-button ng-click="menu.toggle()">
				<ons-icon icon="ion-navicon-round" size="28px" fixed-width="false"></ons-icon>
				<img src="lib/onsen/css/memoria/imgs/logo.png"  class="logo"></img>
				<span ng-class="titulomemoria" class="titulo_memoria">
					MEMORIAPP
				</span>
			</ons-toolbar-button>
		</div>
		<div ng-class="center_toolbar" class="center"></div>
		<div class="right" var="right" ng-class="right_toolbar"  >
			<ons-toolbar-button ng-click="showinputsearch()" var="right">
				<ons-icon icon="ion-ios-search" size="28px" fixed-width="false"></ons-icon>
				<input ng-class="inputcontrol" type="text" class="text-input--underbar" placeholder="Buscar" value=""></input>
			</ons-toolbar-button>
		</div>
	</ons-toolbar>
	
	<h3>
		<ons-icon icon="ion-star"></ons-icon>
		Favoritos
	</h3>
	<ons-list-header class="bookmark-header">
		Fragmentos de libros
		<div class="notification">3</div>
	</ons-list-header>
	<div id="fragment_list">
		<div id="container_fragmentos">
			
			<ons-list modifier="inset" class="card-bookmark"style="margin-top: 10px">
				<ons-list-item class="to-wrapper smallfont ">
					Agregado el 26 de marzo 2015 
				</ons-list-item>
				<P>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
					quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
					consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
					cillum dolore eu fugiat nulla pariatur.</P>
				<ons-list-item class="to-wrapper smallfont">
					Tomado de libro El Salado. Esa guerra no era nuestra
					<ons-icon icon="ion-trash-a" style="float:right" class="trash"></ons-icon>
				</ons-list-item>
			</ons-list>
			<ons-list modifier="inset" class="card-bookmark"style="margin-top: 10px">
				<ons-list-item class="to-wrapper smallfont ">
					Agregado el 26 de marzo 2015 
				</ons-list-item>
				<P>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
					quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
					consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
					cillum dolore eu fugiat nulla pariatur.</P>
				<ons-list-item class="to-wrapper smallfont">
					Tomado de libro El Salado. Esa guerra no era nuestra
					<ons-icon icon="ion-trash-a" style="float:right" class="trash"></ons-icon>
				</ons-list-item>
			</ons-list>
		</div>
	</div>
</ons-page>
