<!doctype html>
<html lang="en" ng-app="app">
<head>
	<meta charset="utf-8" />
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<meta name="mobile-web-app-capable" content="yes" />
	<title>MemoriaApp</title>  
	<link rel="stylesheet" href="lib/onsen/css/onsenui.css" />  
	<link rel="stylesheet" href="styles/onsen-css-components-memoria-theme.css" />  
	<link rel="stylesheet" href="styles/app.css"/>
	<link rel="stylesheet" href="styles/epub.css"/>
	
	<script src="lib/onsen/js/angular/angular.min.js"></script>
	<script src="lib/jquery.min.js"></script>
	<script src="lib/epub.min.js"></script>
	<script src="lib/onsen/js/onsenui.min.js"></script>
	<script src="lib/TweenMax.min.js"></script>
	<script src="lib/app.js"></script>
	<script src="lib/bookmarks.js"></script>
	<!-- RANGY -->
	<script type="text/javascript" src="lib/rangy/log4javascript.js"></script>
	<script type="text/javascript" src="lib/rangy/rangy-core.js"></script>
	<script type="text/javascript" src="lib/rangy/rangy-position.js"></script>
	<script type="text/javascript" src="lib/rangy/rangy-highlighter.js"></script>
	<script type="text/javascript" src="lib/rangy/rangy-serializer.js"></script>
	<script type="text/javascript" src="lib/rangy/rangy-classapplier.js"></script>
	
	<script type="text/javascript" src="cordova.js"></script>
	<script src="main.js"></script>
	</head>
	
	<body ng-app="app">    
	
	<ons-sliding-menu
		menu-page="menu.html" main-page="main.html" side="left"
		var="menu"  max-slide-distance="260px" swipable="true" type="overlay">
		</ons-sliding-menu>
		<script type="text/ons-template" id="share-popover.html">
			<ons-popover id="share-popover" var="sharePopover" direction="up" mask-color="rgba(0, 0, 0, 0.0)">
			<div style="text-align: center; opacity: 1;">
			<a class="share-button" onclick="shareFacebook();"><img  src="img/logo facebookb.png"></a>
			<a class="share-button" onclick="shareTwitter();"><img src="img/logo twitterb.png"></a>
			<a class="share-button" onclick="saveFragment_f();"><img src="img/logo calificacionb.png"></a>
			<a class="share-button" onclick="copiar_f();"><img src="img/logo_copiar.png" /></a>
			<a class="share-button share-button-color" onclick="change_background('yellow_background');"><img  src="img/logocirculoamarillo.png"></a>
			<a class="share-button share-button-color" onclick="change_background('lilla_background');"><img src="img/circulo lila.png"></a>
			<a class="share-button share-button-color" onclick="change_background('green_background');"><img src="img/circulo verde.png"></a>
			<a class="share-button share-button-color" onclick="change_background('white_background');"><img src="img/circulo blanco.png"></a>
			
			</div>
			</ons-popover>
		</script>
		<script type="text/ons-template" id="meaning-popover.html">
			<ons-popover id="meaning-popover" var="meaningPopover" direction="up" style="width:300px" mask-color="rgba(0, 0, 0, 0.0)">
			<div style="text-align: center; opacity: 1;">
			<a class="share-button" onclick="shareFacebook();"><img  src="img/logo facebookb.png" /></a>
			<a class="share-button" onclick="shareTwitter();"><img  src="img/logo twitterb.png" /></a>
			<a class="share-button" onclick="saveFragment_f();"><img src="img/logo calificacionb.png" /></a>
			<a class="share-button" onclick="showMeaning_f();"><img  src="img/logo_diccionario.png" /></a>
			<a class="share-button" onclick="copiar_f();"><img  src="img/logo_copiar.png" /></a>
			<a class="share-button share-button-color" onclick="change_background('yellow_background');"><img  src="img/logocirculoamarillo.png" /></button>
			<a class="share-button share-button-color" onclick="change_background('lilla_background');"><img  src="img/circulo lila.png" /></a>
			<a class="share-button share-button-color" onclick="change_background('green_background');"><img  src="img/circulo verde.png" /></a>
			<a class="share-button share-button-color" onclick="change_background('white_background');"><img  src="img/circulo blanco.png" /></a>
			</div>
			</ons-popover>
		</script>

		<script type="text/ons-template" id="dialog-share.html">
			<ons-dialog style="height: 94px;  min-height: 50px; color:black; width:200px ; margin:0" var="Dialogfavorites" cancelable>

		    <ons-navigator var="myNav">
		      <ons-toolbar inline>
		        <div class="center" style="color:black">
		          Compartir libro en redes
		        </div>
		      </ons-toolbar>
		      <div style="text-align: center">
		      <div style="text-align: center; opacity: 1;">
						<button class="share-button" onclick="shareBookOnFacebook();" style="max-height: 100%"><img style="height: 34px;vertical-align: bottom;" src="img/logo facebook.png" /></button>
						<button class="share-button" onclick="shareBookOnTwitter();" style="max-height: 100%"><img style="height: 34px; vertical-align: bottom;" src="img/logo twitter.png"/></button>
						<button class="share-button" onclick="shareBookOnWhatsapp();"><ons-icon icon="ion-social-whatsapp-outline" style="color: green;height: 34px;width:34;" size="34px"></ons-icon></button>
						<button class="share-button" onclick="shareBookOnEmail();"><ons-icon icon="ion-android-mail" style="color: red;height: 34px;width:34;" size="34px"></ons-icon></button>
		      </div>
		      </div>
		    </ons-navigator>
		  </ons-dialog>  
		</script>
		
		 <ons-template id="popoverbook.html">
 
		  <ons-popover var="Popoverbook" modifier="android" direction="up down" cancelable ng-controller="PopoverbookController">

		    <div style="text-align: center; opacity: 0.5;">
		 <ons-list>
		      <ons-list-item ng-click="addfavorites();" modifier="tappable">Agregar libro a favoritos</ons-list-item>
		      <ons-list-item ng-click="share()" modifier="tappable">Compartir libro en redes</ons-list-item>
		      <ons-list-item onclick="goto_bookmark_epub()" modifier="tappable">Ir al Bookmark</ons-list-item>
		    </ons-list>
		    </div>
		  </ons-popover>
		</ons-template>
  <ons-modal var="Modal">
    <ons-icon icon="ion-load-c" spin="true"></ons-icon>
    <br><br>
    Listando epubs
  </ons-modal> 
  	<ons-template id="Dialog_book_save.html">
  		<ons-dialog id="Dialog_book_save" var="Dialog_book_save" style="min-height: 40px;height: 38px;line-height: 38px;text-align:center; width:250px; background-color:#adadad;font-family: 'TitilliumWeb-Light';font-size: 0.8rem;" cancelable>
			El libro se ha agregado a tus favoritos
      	</ons-dialog> 
	</ons-template>
	<ons-template id="Dialog_copiado.html">
		<ons-dialog id="Dialog_copiado" var="Dialog_copiado" style="min-height: 40px;height: 38px;line-height: 38px;text-align:center; width:250px; background-color:#adadad;font-family: 'TitilliumWeb-Light';font-size: 0.8rem;" cancelable>
			El texto se ha copiado al portapapeles.
		</ons-dialog> 
	</ons-template>
	<ons-template id="Dialog_descargando.html">
		<ons-dialog id="Dialog_descargando" var="Dialog_descargando" style="min-height: 40px;height: 38px;line-height: 38px;text-align:center; width:250px; background-color:#adadad;font-family: 'TitilliumWeb-Light';font-size: 0.8rem;" cancelable>
			Descargando EPUB ...
		</ons-dialog> 
	</ons-template>
		<!-- WEINRE -->
		  <!-- <script src="http://192.168.0.3:8080/target/target-script-min.js#anonymous"></script> -->
		</body>


</html>
